@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Mukta:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.firstHeader {
  box-shadow: 20px -16px 32px rgba(0, 0, 0, 0.247);
  background: #f5f5f598;
  height: 55px; }
  .firstHeader .header {
    display: flex;
    justify-content: center; }

.linkler {
  display: flex;
  font-family: "Mukta", sans-serif;
  position: relative;
  margin-top: 12px;
  margin-right: 120px; }
  .linkler ul {
    display: flex;
    list-style: none; }
    .linkler ul li a {
      position: relative;
      font-size: 14px;
      padding: 0 12px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.644); }

.rightside {
  display: flex; }

.lang {
  width: 75%;
  display: flex;
  height: 34px; }
  .lang a {
    font-family: "Mukta", sans-serif;
    padding: 2px 10px !important;
    background-color: white;
    color: black;
    font-size: 15px !important;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.027); }

.logo img {
  margin-right: 18px;
  width: 27px;
  height: 28px; }

.buttonlar {
  display: flex; }

.searchbar {
  padding: 0px;
  width: 40px;
  height: 34px;
  border-radius: 5px;
  background-color: white; }
  .searchbar ul {
    position: relative;
    margin-right: 80px;
    list-style: none; }
  .searchbar ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685); }
  .searchbar i {
    position: relative;
    margin-top: 8px;
    margin-left: 9px; }

.buttonlar {
  font-family: "Mukta", sans-serif;
  width: 120px;
  height: 34px;
  font-size: 12px; }
  .buttonlar #btn-1 {
    border: 1px solid #ff6400;
    text-decoration: none;
    color: #ff6400;
    border-radius: 5px;
    padding: 5px 15px; }
  .buttonlar #btn-2 {
    border: 1px solid rgba(0, 0, 0, 0.027);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 5px 15px; }

.moonicon {
  background-color: #323232;
  color: white;
  width: 72px;
  height: 34px;
  border-radius: 5px; }
  .moonicon i {
    position: relative;
    margin-left: 10px;
    margin-top: 8px; }

.dark .moonicon {
  background-color: white;
  color: black; }

.rightside {
  position: relative;
  margin-top: 10px;
  margin-left: 42px; }

.lang {
  position: relative;
  margin-left: 42px; }

.buttonlar {
  position: relative;
  margin-right: 12px; }

.items {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 24px; }
  .items .links {
    position: relative;
    margin-top: 9px;
    margin-right: 210px; }
    .items .links ul {
      display: flex;
      list-style: none; }
      .items .links ul li a {
        font-family: "Inter Tight", sans-serif, "Mukta", sans-serif;
        letter-spacing: 0.6px;
        text-decoration: none;
        color: black;
        font-size: 19px;
        font-weight: bolder;
        padding: 0 12px; }
  .items .buttons {
    display: flex;
    position: relative; }
    .items .buttons a {
      font-family: "Inter Tight", sans-serif, "Mukta", sans-serif;
      text-decoration: none;
      color: black;
      font-weight: 800; }
    .items .buttons i {
      color: #ff6400;
      position: relative;
      margin-right: 4px; }
  .items #fs {
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    padding: 9px 17px;
    margin-right: 8px; }
  .items #ss {
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    padding: 10px 18px; }

.carousel {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-left: 360px;
  margin-top: 50px;
  border-radius: 8px;
  width: 1200px;
  height: 500px;
  background-color: #ff6400; }
  .carousel .imgs {
    position: relative;
    margin-top: 100px; }
  .carousel #ucard {
    font-size: 42px;
    color: white;
    font-family: "Inter Tight", sans-serif, "Mukta", sans-serif;
    letter-spacing: 2px; }
  .carousel #kredit {
    font-family: "Inter Tight", sans-serif, "Mukta", sans-serif;
    color: white;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 50px; }
  .carousel #btn002 {
    text-decoration: none;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.664);
    padding: 12px 24px;
    border-radius: 22px; }

.itemler {
  display: block;
  position: relative;
  margin-top: 120px; }
