@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.firstHeader {
  box-shadow: 20px -16px 32px rgba(0, 0, 0, 0.247);
  background: #f5f5f598;
  height: 55px; }
  .firstHeader .header {
    display: flex;
    justify-content: space-evenly; }

.linkler {
  display: flex;
  font-family: "Mukta", sans-serif;
  position: relative;
  margin-top: 12px; }
  .linkler ul {
    display: flex;
    list-style: none; }
    .linkler ul li a {
      position: relative;
      font-size: 14px;
      padding: 0 12px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.644); }

.rightside {
  display: flex; }

.lang {
  width: 75%;
  display: flex;
  height: 34px; }
  .lang a {
    font-family: "Mukta", sans-serif;
    padding: 2px 10px !important;
    background-color: white;
    color: black;
    font-size: 15px !important;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px; }

.logo img {
  margin-right: 18px;
  width: 27px;
  height: 28px; }

.buttonlar {
  display: flex; }

.searchbar {
  padding: 0px;
  width: 60px;
  height: 34px;
  border-radius: 5px;
  background-color: white; }
  .searchbar ul {
    list-style: none; }
  .searchbar ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685); }
  .searchbar i {
    position: relative;
    margin-top: 8px;
    margin-left: 9px; }
