@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
$font: "Mukta", sans-serif;
$main-color: #ff6400;
$background-icon: #323232;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark{
  background-color: black;


  .firstHeader .header{
    background-color: transparent;

    }


    .linkler ul li a{
      color: white;
    }

    .firstHeader .header .rightside div a{
      color: white;
      background-color: transparent;
    }

}


.firstHeader {
  box-shadow:20px -16px 32px rgba(0, 0, 0, 0.247);
  background: #f5f5f598;
  height: 55px;
  .header {
    display: flex;
    justify-content: space-evenly;
 
  }
}
.linkler {
  display: flex;
  font-family: $font;
  position: relative;
  margin-top: 12px;
  ul {
    display: flex;
    list-style: none;
    li a {
      position: relative;
      font-size: 14px;
      padding: 0 12px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.644);
    }
  }
}
.rightside {
  display: flex;
}

.lang{
  width: 75%;

a{
  display: inline-block;
  font-family: $font;
  padding: 1% 2% !important;
  background-color: white;
  color: black;
  font-size: 15px !important;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
}

}
.logo {
  img {
    margin-right: 18px;
    width: 27px;
    height: 28px;
  }
}

